@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px #66005a;
    background: rgba(255, 0, 195, 0.416);
    padding: 20px;
    text-align: center;
    letter-spacing: 0.1em;
}

.slide1 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
    position: relative;
    background: white;
    height: 50px;
    width: 70px;
    border-radius: 18%;
    display: flex;
    transition: 0.5s;
    border-radius: 18%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);

}

.toggleMenu1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide1.active {
    width: 250px;
}

.slide1 .toggleMenu1 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70px;
    height: 50px;
    background: pink;
    border-radius: 18%;
    cursor: pointer;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 33%;
}

.slide1 .name {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.slide1.active .name {
    display: flex;
    transition-delay: 0.2s;
    transform: scale(1);
}

.slide2 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
    position: relative;
    background: white;
    height: 50px;
    width: 70px;
    border-radius: 18%;
    display: flex;
    transition: 0.5s;
    border-radius: 18%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);

}

.toggleMenu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide2 .toggleMenu2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70px;
    height: 50px;
    background: pink;
    border-radius: 18%;
    cursor: pointer;
}

.height {
    display: flex;
    align-items: center;
    margin-left: 58%;
}

.slide2.active2 {
    width: 140px;
}

.slide2 .height {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.slide2.active2 .height {
    display: flex;
    transition-delay: 0.2s;
    transform: scale(1);
}

.slide3 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
    position: relative;
    background: white;
    height: 50px;
    width: 70px;
    border-radius: 18%;
    display: flex;
    transition: 0.5s;
    border-radius: 18%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);

}

.toggleMenu3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide3 .toggleMenu3 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70px;
    height: 50px;
    background: pink;
    border-radius: 18%;
    cursor: pointer;
}

.weight {
    display: flex;
    align-items: center;
    margin-left: 46%;
}

.slide3.active3 {
    width: 175px;
}

.slide3 .weight {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.slide3.active3 .weight {
    display: flex;
    transition-delay: 0.2s;
    transform: scale(1);
}